<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de producto</title>
    <link rel="stylesheet" href="/static/estilos-formularios.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <div class="title">
            <h2>Crear</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/products">Volver</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="principal">
                <h2>Producto</h2>
            </div>
            <form method="POST">
                <label for="name">Nombre del producto:</label> <br><br>
                <input type="text" id="name" name="name" required> <br>
                <label for="price">Precio del producto:</label> <br><br>
                <input type="number" id="price" name="price" required>
                <button type="submit">Crear producto</button>
            </form>
        </section>
    </main>
</body>

</html>