<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/static/listados.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <div class="title">
            <h2>Productos</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/shopping_cart">Carrito de compras 🛒({{total}})</a></li>
                    <li><a href="/home">Volver ↩</a></li>
                    <li><a href="/logout">Salir ↪</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h3 class="first-h3">Listado de productos:</h3>
    {% for product in products %}
    <div class="container">
        <div class="card">
            <h3>{{product.name}}</h3>
            <h3>Precio: ${{product.price_user}}</h3>
            <a href="/products/details/{{product.id}}" class="detalles">Ver detalles 🔍</a>

        </div>
    </div>
    {% endfor%}
    </main>
</body>

</html>