<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar producto</title>
    <link rel="stylesheet" href="/static/estilos-formularios.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <div class="title">
            <h2>Editar</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/">Carrito de compras 🛒</a></li>
                    <li><a href="/products">Volver ↩</a></li>
                    <li><a href="/logout">Salir ↪</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="principal">
                <h2>Producto</h2>
            </div>
            <form method="POST" class="product-category">
                <label for="name">Nombre de la producto:</label> <br><br>
                <input type="text" id="name" name="name" value="{{product.name}}" required>
                <label for="price">Precio del producto:</label> <br><br>
                <input type="number" id="price" name="price" value="{{product.price_user}}" required><br>
                <p>Selecciona las categorías del producto:</p>
                {% for category in categories_selected %}
                <div class="checkboxs">
                    <input type="checkbox" name="category_id" value="{{category.id}}" checked>
                    {{category.name}}
                </div>
                {% endfor %}
                {% for category in categories_no_selected %}
                <div class="checkboxs">
                    <input type="checkbox" name="category_id" value="{{category.id}}">
                    {{category.name}}
                </div>
                {% endfor %} <br>
                <button type="submit">Editar Producto</button>
            </form>
        </section>
    </main>
</body>

</html>