<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar categoría</title>
    <link rel="stylesheet" href="/static/listados.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <div class="title">
            <h2>Eliminar</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/">Carrito de compras 🛒</a></li>
                    <li><a href="/categories">Volver ↩</a></li>
                    <li><a href="/logout">Salir ↪</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>¿Seguro que deseas eliminar la categoría: "{{category.name}}"?</h1>
        <form method="POST">
            <div class="delete-category">
                <input type="submit" value="No, volver" name="no">
                <input type="submit" value="Si, eliminar categoría" name="si">
            </div>
        </form>
    </main>
</body>

</html>