<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo ya registrado</title>
    <link rel="stylesheet" href="/static/estilos-formularios.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <div class="title">
            <h2>Ups!</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/register">Volver</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <p style="font-size: 20px;">Lo sentimos, el email "{{email}}" ya está registrado en nuestra base de datos.</p>
    </main>
</body>

</html>