<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronkmi Market</title>

    <link rel="stylesheet" type="text/css" href="/static/estilos-index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <header>
        <h1>¡Bienvenido a Ronkmi Market!</h1>
    </header>

    <main>
        <h2>Por favor, seleccione una opción: </h2>
        <button onclick="location.href='/login'">Iniciar sesión</button>
        <button onclick="location.href='/register'">Registrarme</button>
    </main>

</body>

</html>