<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/estilos-formularios.css">
</head>

<body>
    <header>
        <div class="title">
            <h2>Inicia sesión aquí!</h2>
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="/">Volver</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="principal">
                <h2>Ingresar</h2>
            </div>
            <form>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Ingresar</button>
            </form>
        </section>
    </main>
</body>

</html>